<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="../../../resources/js/client.js"></script>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <link rel="stylesheet"
          href="../../../resources/js/node_modules/chartist/dist/chartist.min.css">

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
    <div id="container" style="height: 400px; min-width:310px"></div>
    <script>

        var socket = new SockJS('http://localhost:8080/chat');
        var stompClient = Stomp.over(socket);

        $(function () {

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            // Create the chart
            Highcharts.stockChart('container', {
                chart: {
                    events: {
                        load: function () {
                            var series = this.series[0];
                            stompClient.connect({}, function(frame) {
                                console.log('Connected: ' + frame);
                                stompClient.subscribe('/topic/messages', function(messageOutput) {
                                    var data = JSON.parse(messageOutput.body);
                                    var x = (new Date()).getTime(),
                                        y= parseFloat(data.query.results.rate.Rate);
                                    series.addPoint([x,y],true,true);
                                });
                            });
                        }
                    }
                },

                rangeSelector: {
                    buttons: [{
                        count: 1,
                        type: 'minute',
                        text: '1 min'
                    }, {
                        count: 5,
                        type: 'minute',
                        text: '5 min'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    selected: 0
                },

                title: {
                    text: 'Live Exchange Rate'
                },

                exporting: {
                    enabled: false
                },

                series: [{
                    name: 'USD/RUB',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                            time = (new Date()).getTime(),
                            i;

                        for (i = -999; i <= 0; i += 1) {
                            data.push([
                                time + i * 1000,
                                Math.round(Math.random() * 100)
                            ]);
                        }
                        return data;
                    }())
                }]
            });

        });

    </script>
    </p>
</div>
</body>
</html>